<!DOCTYPE html>
<html lang="ja">

<head>
    <title>連番を簡単に生成！！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/empty.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

    <body class="no-theme">
        <div class="pure-g h-box" id="search-widget">
            <div class="pure-u-1" id="logo">
                <h1 href="/" class="pure-menu-heading">Yuki Youtube</h1>
            <a href="/bbs">掲示板</a>
            </div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1 pure-u-md-12-24 searchbar">
                <form class="pure-form" action="/search" method="get">
                    <fieldset>
                        <input type="search" id="searchbox" autocomplete="on" autocorrect="on" autocapitalize="none" spellcheck="false" autofocus="" name="q" placeholder="検索" title="検索" value="">
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1-4"></div>
            
        </div>
        <script>$('#searchbox').autocomplete({
            source: function (request, response) {
                {
            var url = "/suggest?keyword="+ request.term
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url);
            xhr.onload = function() {
                response(JSON.parse(xhr.responseText));
            }
            xhr.send();
        }},delay:300});</script>
    </body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<abarerukunn>
<a href="/channel/UC8XDS4vKIrYbao9a-wjLRfA">有名じゃなくてゴミすぎるch</a>
<a href="/channel/UCihfa7YXd4iLVcgS2j1xsRA">アサギの研究所</a>
<a href="/channel/UCX1xppLvuj03ubLio8jslyA">ヒカキンgames</a>
<a href="/channel/UCZf__ehlCEBPop-_sldpBUQ">ヒカキンTV</a>
<a href="/channel/UClLV6D8S4CrVJL64-aQvwTw">ヒカキンノーマル</a>
<a href="/channel/UCgMPP6RRjktV7krOfyUewqw">はじめしゃちょー</a>
お次<br>プロットアニメ
<a href="/channel/UCUTgXNqRBqR33D5q10DfQXw">テイコウペンギン</a>
<a href="/channel/UCUTgXNqRBqR33D5q10DfQXw">テイコウペンギン</a>
<a href="/channel/UC9UAxVR4Tym2PIICVfLTZUw">混血のカレコレ</a>
<a href="/channel/UCo_nZN5yB0rmfoPBVjYRMmw">全力回避フラグちゃん! / Flag Chan!</a>
<a href="/channel/UCKP8iLZRf5ZLVyZ_rzWQHhA">秘密結社ヤルミナティー</a>
<a href="/channel/UCXWnW9POrqPuDav-K_rWh0g">ブラックチャンネル</a>
<a href="/channel/UCvydJX73EbDTCWCAEnkElbQ">円満解決!閻魔ちゃん</a>
Minecraftなどの実況？
<a href="/channel/UCSSKXEFwXiEcUjZKYGSvyPg">PutiPuti＜P</a>
<a href="/channel/UCyFN8ul17Ov5oDr_lsjZODg">ふうはや</a>
<a href="/channel/UCHazKLThRbMyMFu2bVAKhng">ウォーターチャレンジ</a>
<a href="/channel/UCX2fYWaYhi7J1yMaK0M8Amw">ちろぴの</a>
<a href="/channel/UCj4PjeVMnNTHIR5EeoNKPAw">ドズル社</a>
<a href="/channel/UCfxC2jkCQn3SEMYYtprPQ4w">タコ丸 / 村人狂【マイクラ 小ネタ 検証 茶番】</a>
<a href="/channel/UC1sELGmy5jp5fQUugmuYlXQ">Minecraft</a>
<a href="/channel/UC16bljMGmi9JYoyL5x9jLGg">けなそゆ</a>
<a href="/channel/UCADSHoziFLAeOEC4L2tibqQ">マイクラまとめ局</a>
<a href="/channel/UCM3yhFc0-fBFuvqx1Vg2YNQ">Maizen Japanese Channel</a>
<a href="/channel/UCuPBgmvQkVv7svIXjQiPgBw">衝撃のマイクラ</a>
<a href="/channel/UC0xTE0Ofe4A65ru3aFZ1nyg">２８（ふたば）ちゃんねる</a>
Fortnite？
<a href="/channel/UCMFzkc3RujclrXuvm59afPA">ぶゅりる</a>
<a href="/channel/UCwF6o6cF7BMTY1-OZ7ZUY7Q">フォートナイト 公式</a>
<a href="/channel/UCei5QXhI1ZMprw88O9Fmd_Q">はるきよ / Harukiyo</a>
<a href="/channel/UCdVnOfmhI0sNGdaH5yldztg">LiaqN【りあん】</a>
<a href="/channel/UCILZFnKZJksR7zwhZbAB4vw">れじぇくん</a>
<a href="/channel/UCTy6nbQ3oyEAB-GLpqu4cVg">フォートナイト日本最速の男たくまん</a>
<a href="/channel/UCFkncXKwLRtA2MFdXOv34yQ">Nephrite【ネフライト】</a>
<a href="/channel/UCTeVjS8J3N1qsxFoetjaM4Q">おれんじ君</a>
<a href="/channel/UCAnEi1kI8jPIpt5sKWt4ZHw">ぜるふぃー / ZELLFY</a>
ここからは徐々に増やします。
<a href="/channel/UC2ACLtOEdgNsTBJcymstNPw">Marunouchi / まるのうち</a>
    </abarerukunn>
</html>
