<!DOCTYPE html>
<html lang="ja">

<head>
    <title>連番を簡単に生成！！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/empty.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

    <body class="no-theme">
        <div class="pure-g h-box" id="search-widget">
            <div class="pure-u-1" id="logo">
                <h1 href="/" class="pure-menu-heading">Yuki Youtube</h1>
            <a href="/bbs">掲示板</a>
            </div>
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1 pure-u-md-12-24 searchbar">
                <form class="pure-form" action="/search" method="get">
                    <fieldset>
                        <input type="search" id="searchbox" autocomplete="on" autocorrect="on" autocapitalize="none" spellcheck="false" autofocus="" name="q" placeholder="検索" title="検索" value="">
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1-4"></div>
            
        </div>
        <script>$('#searchbox').autocomplete({
            source: function (request, response) {
                {
            var url = "/suggest?keyword="+ request.term
            var xhr = new XMLHttpRequest();
            xhr.open("GET", url);
            xhr.onload = function() {
                response(JSON.parse(xhr.responseText));
            }
            xhr.send();
        }},delay:300});</script>
    </body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<abarerukunn>
<a href="/channel/UC8XDS4vKIrYbao9a-wjLRfA">有名じゃなくてゴミすぎるch</a><br>
<a href="/channel/UCihfa7YXd4iLVcgS2j1xsRA">アサギの研究所</a><br>
<a href="/channel/UCX1xppLvuj03ubLio8jslyA">ヒカキンgames</a><br>
<a href="/channel/UCZf__ehlCEBPop-_sldpBUQ">ヒカキンTV</a><br>
<a href="/channel/UClLV6D8S4CrVJL64-aQvwTw">ヒカキンノーマル</a><br>
<a href="/channel/UCgMPP6RRjktV7krOfyUewqw">はじめしゃちょー</a><br>
お次<br>プロットアニメ<br>
<a href="/channel/UCUTgXNqRBqR33D5q10DfQXw">テイコウペンギン</a><br>
<a href="/channel/UCUTgXNqRBqR33D5q10DfQXw">テイコウペンギン</a><br>
<a href="/channel/UC9UAxVR4Tym2PIICVfLTZUw">混血のカレコレ</a><br>
<a href="/channel/UCo_nZN5yB0rmfoPBVjYRMmw">全力回避フラグちゃん! / Flag Chan!</a><br>
<a href="/channel/UCKP8iLZRf5ZLVyZ_rzWQHhA">秘密結社ヤルミナティー</a><br>
<a href="/channel/UCXWnW9POrqPuDav-K_rWh0g">ブラックチャンネル</a><br>
<a href="/channel/UCvydJX73EbDTCWCAEnkElbQ">円満解決!閻魔ちゃん</a><br>
Minecraftなどの実況？<br>
<a href="/channel/UCSSKXEFwXiEcUjZKYGSvyPg">PutiPuti＜P</a><br>
<a href="/channel/UCyFN8ul17Ov5oDr_lsjZODg">ふうはや</a><br>
<a href="/channel/UCHazKLThRbMyMFu2bVAKhng">ウォーターチャレンジ</a><br>
<a href="/channel/UCX2fYWaYhi7J1yMaK0M8Amw">ちろぴの</a><br>
<a href="/channel/UCj4PjeVMnNTHIR5EeoNKPAw">ドズル社</a><br>
<a href="/channel/UCfxC2jkCQn3SEMYYtprPQ4w">タコ丸 / 村人狂【マイクラ 小ネタ 検証 茶番】</a><br>
<a href="/channel/UC1sELGmy5jp5fQUugmuYlXQ">Minecraft</a><br>
<a href="/channel/UC16bljMGmi9JYoyL5x9jLGg">けなそゆ</a><br>
<a href="/channel/UCADSHoziFLAeOEC4L2tibqQ">マイクラまとめ局</a><br>
<a href="/channel/UCM3yhFc0-fBFuvqx1Vg2YNQ">Maizen Japanese Channel</a><br>
<a href="/channel/UCuPBgmvQkVv7svIXjQiPgBw">衝撃のマイクラ</a><br>
<a href="/channel/UCh7bThzNArch6TgoHB1HVhA">カラフルピーチ</a><br>
<a href="/channel/UC-Cuw7QXLjJd1lFQzp5AP-w">さんちゃんく!</a><br>
<a href="/channel/UC0xTE0Ofe4A65ru3aFZ1nyg">２８（ふたば）ちゃんねる</a><br>
Fortnite？<br>
<a href="/channel/UCMFzkc3RujclrXuvm59afPA">ぶゅりる</a><br>
<a href="/channel/UCwF6o6cF7BMTY1-OZ7ZUY7Q">フォートナイト 公式</a><br>
<a href="/channel/UCei5QXhI1ZMprw88O9Fmd_Q">はるきよ / Harukiyo</a><br>
<a href="/channel/UCdVnOfmhI0sNGdaH5yldztg">LiaqN【りあん】</a><br>
<a href="/channel/UCILZFnKZJksR7zwhZbAB4vw">れじぇくん</a><br>
<a href="/channel/UCTy6nbQ3oyEAB-GLpqu4cVg">フォートナイト日本最速の男たくまん</a><br>
<a href="/channel/UCFkncXKwLRtA2MFdXOv34yQ">Nephrite【ネフライト】</a><br>
<a href="/channel/UCTeVjS8J3N1qsxFoetjaM4Q">おれんじ君</a><br>
<a href="/channel/UCAnEi1kI8jPIpt5sKWt4ZHw">ぜるふぃー / ZELLFY</a><br>
ここからは徐々に増やします。<br>
<a href="/channel/UC2ACLtOEdgNsTBJcymstNPw">Marunouchi / まるのうち</a><br>
    </abarerukunn>
    <script>
    // YouTube Data APIのAPIキー
    const API_KEY = 'AIzaSyDd2Bw7VOBD1vmLWHAsQ1PcKKFdB3jvmFE';

    // 最新の日本人のYouTube動画を取得して表示する関数
    async function fetchLatestJapaneseVideos() {
      try {
        // YouTube Data APIを使用して最新の日本人の動画を取得
        const response = await fetch(`https://www.googleapis.com/youtube/v3/search?key=${API_KEY}&part=snippet&type=video&maxResults=5&q=日本人&regionCode=JP&order=date`);
        const data = await response.json();

        // 取得した動画をHTMLに追加
        const videosContainer = document.getElementById('videos-container');
        data.items.forEach(video => {
          const videoId = video.id.videoId;
          const videoTitle = video.snippet.title;

          // 動画リンクを作成して追加
          const videoElement = document.createElement('a');
          videoElement.href = `https://yuki-yuki.onrender.com/watch?v=${videoId}`;
          videoElement.textContent = videoTitle;
          videoElement.target = '_blank'; // 新しいタブで開く

          // リストに追加
          videosContainer.appendChild(videoElement);
          videosContainer.appendChild(document.createElement('br')); // 改行を追加
        });
      } catch (error) {
        console.error('動画の取得中にエラーが発生しました:', error);
      }
    }

    // ページ読み込み後に動画を取得して表示
    window.onload = fetchLatestJapaneseVideos;
  </script>
</html>
